@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto: 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-noto), 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
}
